# Konfigurasi Port Server
PORT=3000

# Konfigurasi Kredensial (Basic Auth)
AUTH_USERNAME=admin
AUTH_PASSWORD=password123

# Konfigurasi Perintah Eksternal (accel-cmd)
ACCEL_CMD=accel-cmd
ACCEL_ARGS=show sessions ifname,username,ip,uptime
