# Konfigurasi Port Server
PORT=3000

# Konfigurasi Kredensial (Basic Auth)
AUTH_USERNAME=admin
AUTH_PASSWORD=password123

# Konfigurasi Perintah Eksternal (accel-cmd)
ACCEL_CMD=accel-cmd
ACCEL_ARGS=show sessions ifname,username,ip,uptime

# (Opsional) Jika accel-ppp berjalan lebih dari 1 instance (misal beda port CLI)
# Pisahkan port dengan koma. Jika dikosongkan, API hanya membaca instance default.
# ACCEL_INSTANCES=2001,2002,2003
